<html>
    <head>
        <title>New Article Form</title>
    </head>
    <body>
        <h1>Create new article</h1>
        <p>Title:</p>
        <input type="text" id="title" />
        <p>
            content
        </p>
        <textarea id="content">Add content</textarea><br/><br/>
        <button id="submit">Submit</button>
        <script src="/ib/jquery/dist/jquery.min.js"></script>
        <script>
        var newArticle ={title:"",content:"" };
        $('#submit').click(function(){
          console.log('submit clicked');
          newArticle.title=$('#title').val()
          newArticle.title=$('contentval().val();
          $.ajax({
              method:"post",
              url:"/api/articles",
              data: newArticle
          }).done(function(response){
            console.log(response);
          }).fail(function(response){
            console.log(response.responseText);
          });
          
        });
        </script>
        </body>